{{ if .Site.Data.homepage.experience.enable }}
<section id="experience" class="section section--border-bottom rad-animation-group">
    <div class="container">
        <div class="row flex-column-reverse flex-md-row rad-fade-down">
            <div class="col-12 col-sm-6 mt-5 mt-sm-0">
                {{ range .Site.Data.homepage.experience.items }}
                <div class="experience">
                    <div class="experience__date">{{ .duration }}</div>
                    <div class="experience__title">{{ .title }}</div>
                    <div class="experience__company">{{ .company | safeHTML }}</div>
                    {{ with .mp3 }}
                    <div class="experience__audio mt-3">
                        <audio controls preload="none">
                            <source src="{{ . | absURL }}" type="audio/mpeg">
                            Dein Browser unterstützt kein HTML5-Audio.
                        </audio>
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <div class="col-12 col-sm-6">
                <h2 class="experience__section-title">{{ .Site.Data.homepage.experience.title }}</h2>
                <p class="lead">
                    {{ .Site.Data.homepage.experience.description }}
                </p>
                {{ with .Site.Data.homepage.experience.button }}
                    {{ if or (not (isset . "enable")) .enable }}
                    <a href="{{ .URL | absURL }}" class="btn btn-primary"
                       target="_blank">
                        <i class="{{ .icon }}"></i>
                        {{ .btnText }}
                        <i class="icon-arrow-right"></i>
                    </a>
                    {{ end }}
                {{ end }}
                {{ with .Site.Data.homepage.experience.button2 }}
                    {{ if or (not (isset . "enable")) .enable }}
                    <a href="{{ .URL | absURL }}" class="btn btn-frameless"
                       target="_blank">
                        <i class="{{ .icon }}"></i>
                        {{ .btnText }}
                    </a>
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
